/*
* @Author: fozero@126.
* @Date:   2019-04-03 16:26:25
* @Last Modified by:   fozero
* @Last Modified time: 2019-04-03 16:36:40
*/
html, body {
  padding: 0;
  margin: 0; }

.hide {
  display: none; }

input::-webkit-input-placeholder {
  color: #b9fffb; }

input::-moz-placeholder {
  /* Mozilla Firefox 19+ */
  color: #b9fffb; }

input:-moz-placeholder {
  /* Mozilla Firefox 4 to 18 */
  color: #b9fffb; }

input:-ms-input-placeholder {
  /* Internet Explorer 10-11 */
  color: #b9fffb; }

.loading-containner {
  position: relative;
  width: 100%;
  height: 193.067vw;
  background: #353993 url("../img/ai-enter-bg.jpg") no-repeat;
  background-size: 100%;
  content: 'viewport-units-buggyfill; height: 193.067vw'; }
  .loading-containner .loading {
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
    color: #59f6ff; }
    .loading-containner .loading .avatar {
      position: relative;
      width: 18.8vw;
      height: 17.467vw;
      background: url("../img/ai-enter-avatar.png");
      background-size: 18.8vw 17.467vw;
      margin: 0 auto;
      content: 'viewport-units-buggyfill; width: 18.8vw; height: 17.467vw; background-size: 18.8vw 17.467vw'; }
      .loading-containner .loading .avatar .line {
        position: absolute;
        top: 0;
        left: 0;
        width: 18.667vw;
        height: 1.6vw;
        background: url("../img/ai-enter-loading.png") no-repeat;
        background-size: 18.667vw 1.6vw;
        -webkit-animation: loading_move_down infinite linear 2s;
                animation: loading_move_down infinite linear 2s;
                content: 'viewport-units-buggyfill; width: 18.667vw; height: 1.6vw; background-size: 18.667vw 1.6vw'; }
    .loading-containner .loading .progress {
      margin-top: 1.333vw;
      content: 'viewport-units-buggyfill; margin-top: 1.333vw'; }
      .loading-containner .loading .progress .progress-num {
        text-align: center;
        font-size: 1.867vw;
        content: 'viewport-units-buggyfill; font-size: 1.867vw'; }
      .loading-containner .loading .progress .progress-bar {
        position: relative;
        border: 1px solid #0a1d6b;
        border-radius: 1.333vw;
        width: 47.2vw;
        height: 1.867vw;
        margin-top: 1.067vw;
        content: 'viewport-units-buggyfill; border-radius: 1.333vw; width: 47.2vw; height: 1.867vw; margin-top: 1.067vw'; }
        .loading-containner .loading .progress .progress-bar .progress-bg {
          position: absolute;
          top: 0;
          left: 0;
          width: 47.2vw;
          height: 1.333vw;
          border-radius: 1.067vw;
          background: #1d37a0;
          content: 'viewport-units-buggyfill; width: 47.2vw; height: 1.333vw; border-radius: 1.067vw'; }
        .loading-containner .loading .progress .progress-bar .progress-active {
          position: absolute;
          top: 0;
          left: 0;
          height: 1.333vw;
          width: 0%;
          background: #59f6ff;
          border-top-left-radius: 1.6vw;
          border-bottom-left-radius: 1.6vw;
          content: 'viewport-units-buggyfill; height: 1.333vw; border-top-left-radius: 1.6vw; border-bottom-left-radius: 1.6vw'; }
          .loading-containner .loading .progress .progress-bar .progress-active.progress_over {
            border-radius: 1.6vw;
            content: 'viewport-units-buggyfill; border-radius: 1.6vw'; }
    .loading-containner .loading .loading-txt {
      text-align: center;
      font-size: 2.4vw;
      margin-top: 2.667vw;
      content: 'viewport-units-buggyfill; font-size: 2.4vw; margin-top: 2.667vw'; }

.test-containner {
  position: relative;
  width: 100vw;
  height: 193.067vw;
  background: url("../img/ai-test-bg.jpg") no-repeat;
  background-size: 100vw 193.067vw;
  content: 'viewport-units-buggyfill; width: 100vw; height: 193.067vw; background-size: 100vw 193.067vw'; }
  .test-containner .test-logo {
    position: absolute;
    left: 50%;
    top: 5.6vw;
    -webkit-transform: translate(-50%);
            transform: translate(-50%);
    width: 18vw;
    height: 4vw;
    background: url("../img/ai-test-logo.png") no-repeat;
    background-size: 100%;
    content: 'viewport-units-buggyfill; top: 5.6vw; width: 18vw; height: 4vw'; }
  .test-containner .test-photo {
    position: relative;
    width: 96.8vw;
    height: 127.333vw;
    top: 13.333vw;
    content: 'viewport-units-buggyfill; width: 96.8vw; height: 127.333vw; top: 13.333vw'; }
    .test-containner .test-photo .p1 {
      position: absolute;
      left: 50%;
      top: 6vw;
      -webkit-transform: translateX(-48%);
              transform: translateX(-48%);
      width: 88.8vw;
      height: 114.667vw;
      background: url("../img/ai-test-pbg1.png") no-repeat;
      background-size: 100%;
      z-index: 1;
      content: 'viewport-units-buggyfill; top: 6vw; width: 88.8vw; height: 114.667vw'; }
    .test-containner .test-photo .p2-face {
      position: absolute;
      left: 50%;
      top: 26vw;
      -webkit-transform: translateX(-48%);
              transform: translateX(-48%);
      z-index: 2;
      content: 'viewport-units-buggyfill; top: 26vw'; }
      .test-containner .test-photo .p2-face .face1 {
        width: 49.867vw;
        height: 60vw;
        background: url("../img/ai-test-face1.png") no-repeat;
        background-size: 100%;
        content: 'viewport-units-buggyfill; width: 49.867vw; height: 60vw'; }
      .test-containner .test-photo .p2-face .face2 {
        width: 49.867vw;
        height: 60vw;
        background: url("../img/ai-test-face2.png") no-repeat;
        background-size: 100%;
        display: none;
        content: 'viewport-units-buggyfill; width: 49.867vw; height: 60vw'; }
      .test-containner .test-photo .p2-face .face3 {
        width: 49.867vw;
        height: 60vw;
        background: url("../img/ai-test-face3.png") no-repeat;
        background-size: 100%;
        display: none;
        content: 'viewport-units-buggyfill; width: 49.867vw; height: 60vw'; }
      .test-containner .test-photo .p2-face .face4 {
        width: 49.867vw;
        height: 60vw;
        background: url("../img/ai-test-pbg2.png") no-repeat;
        background-size: 100%;
        display: none;
        content: 'viewport-units-buggyfill; width: 49.867vw; height: 60vw'; }
    .test-containner .test-photo .p2-photo {
      position: absolute;
      left: 50%;
      -webkit-transform: translateX(-48%);
              transform: translateX(-48%);
      width: 88.8vw;
      height: 114.267vw;
      top: 6.4vw;
      border-radius: 6.667vw;
      z-index: 2;
      background: url("../img/ai-test-pic1.jpeg") no-repeat;
      background-repeat: no-repeat;
      background-size: cover;
      background-position: center;
      display: none;
      content: 'viewport-units-buggyfill; width: 88.8vw; height: 114.267vw; top: 6.4vw; border-radius: 6.667vw'; }
    .test-containner .test-photo .p3 {
      position: absolute;
      left: 50%;
      top: 6vw;
      -webkit-transform: translateX(-48%);
              transform: translateX(-48%);
      width: 88.8vw;
      height: 114.267vw;
      background: url("../img/ai-test-pbg3.png") no-repeat;
      background-size: 100%;
      z-index: 3;
      content: 'viewport-units-buggyfill; top: 6vw; width: 88.8vw; height: 114.267vw'; }
    .test-containner .test-photo .p4 {
      position: absolute;
      left: 50%;
      top: 6vw;
      -webkit-transform: translateX(-48%);
              transform: translateX(-48%);
      width: 88.933vw;
      height: 24vw;
      background: url("../img/ai-test-pbg4.png") no-repeat;
      background-size: 100%;
      z-index: 4;
      -webkit-animation: test_move_down infinite linear 2s;
              animation: test_move_down infinite linear 2s;
              content: 'viewport-units-buggyfill; top: 6vw; width: 88.933vw; height: 24vw'; }
    .test-containner .test-photo .p5 {
      position: absolute;
      left: 50%;
      -webkit-transform: translateX(-48%);
              transform: translateX(-48%);
      width: 96.8vw;
      height: 127.333vw;
      background: url("../img/ai-test-pbg5.png") no-repeat;
      background-size: 100%;
      z-index: 5;
      content: 'viewport-units-buggyfill; width: 96.8vw; height: 127.333vw'; }
    .test-containner .test-photo .block-name {
      position: absolute;
      bottom: -1.333vw;
      left: 50%;
      -webkit-transform: translate(-48%);
              transform: translate(-48%);
      width: 47.067vw;
      height: 16.133vw;
      background: url("../img/ai-test-namebg.png") no-repeat;
      background-size: 100%;
      z-index: 6;
      content: 'viewport-units-buggyfill; bottom: -1.333vw; width: 47.067vw; height: 16.133vw'; }
      .test-containner .test-photo .block-name .field-name {
        width: 47.067vw;
        background: none;
        border: none;
        padding: 5.6vw 5.333vw;
        box-sizing: border-box;
        text-align: center;
        font-size: 3.733vw;
        color: #b9fffb;
        content: 'viewport-units-buggyfill; width: 47.067vw; padding: 5.6vw 5.333vw; font-size: 3.733vw'; }
    .test-containner .test-photo .start-btn {
      position: absolute;
      bottom: -17.867vw;
      left: 50%;
      -webkit-transform: translate(-48%);
              transform: translate(-48%);
      width: 43.733vw;
      height: 14vw;
      line-height: 14vw;
      text-align: center;
      background: url("../img/ai-test-startbg.png") no-repeat;
      background-size: 100%;
      font-size: 5.067vw;
      color: #b9fffb;
      overflow: hidden;
      z-index: 99;
      content: 'viewport-units-buggyfill; bottom: -17.867vw; width: 43.733vw; height: 14vw; line-height: 14vw; font-size: 5.067vw'; }
      .test-containner .test-photo .start-btn .start-btn-cont {
        position: relative; }
        .test-containner .test-photo .start-btn .start-btn-cont .btn-line {
          position: absolute;
          top: 0.8vw;
          left: 0;
          width: 14.533vw;
          height: 12.933vw;
          background: url("../img/ai-test-startline.png") no-repeat;
          background-size: 100%;
          opacity: 0.5;
          -webkit-animation: btnline_move_right infinite linear 1s;
                  animation: btnline_move_right infinite linear 1s;
                  content: 'viewport-units-buggyfill; top: 0.8vw; width: 14.533vw; height: 12.933vw'; }
  .test-containner .test-support {
    width: 100%;
    font-size: 2.933vw;
    color: #fff;
    text-align: center;
    position: absolute;
    bottom: 28vw;
    content: 'viewport-units-buggyfill; font-size: 2.933vw; bottom: 28vw'; }
  .test-containner .xiaop {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 60.933vw;
    background: url("../img/ai-test-xiaop.png") no-repeat;
    background-size: 100%;
    content: 'viewport-units-buggyfill; height: 60.933vw'; }

.res-containner {
  position: relative;
  width: 100%;
  height: 193.067vw;
  background: url("../img/ai-test-res-bg.jpg") no-repeat;
  background-size: 100%;
  box-sizing: border-box;
  content: 'viewport-units-buggyfill; height: 193.067vw'; }
  .res-containner .res-logo {
    position: absolute;
    left: 4vw;
    top: 3.733vw;
    width: 18vw;
    height: 4vw;
    background: url("../img/ai-test-logo.png") no-repeat;
    background-size: 100%;
    content: 'viewport-units-buggyfill; left: 4vw; top: 3.733vw; width: 18vw; height: 4vw'; }
  .res-containner .res-cont {
    position: absolute;
    top: 10.667vw;
    width: 100%;
    height: 133.333vw;
    background: url("../img/ai-test-res-cont-bg.png") no-repeat;
    background-size: 100%;
    content: 'viewport-units-buggyfill; top: 10.667vw; height: 133.333vw'; }
    .res-containner .res-cont .chart {
      position: absolute;
      top: 17.333vw;
      left: 50%;
      -webkit-transform: translate(-50%);
              transform: translate(-50%);
      width: 80vw;
      height: 66.667vw;
      content: 'viewport-units-buggyfill; top: 17.333vw; width: 80vw; height: 66.667vw'; }
    .res-containner .res-cont .title {
      position: absolute;
      top: -5.067vw;
      left: 50%;
      -webkit-transform: translate(-50%);
              transform: translate(-50%);
      width: 54.4vw;
      height: 18.533vw;
      line-height: 18.533vw;
      text-align: center;
      background: url("../img/ai-test-res-titlebg.png") no-repeat;
      background-size: 100%;
      font-size: 5.867vw;
      color: #5df9ff;
      font-weight: 500;
      content: 'viewport-units-buggyfill; top: -5.067vw; width: 54.4vw; height: 18.533vw; line-height: 18.533vw; font-size: 5.867vw'; }
    .res-containner .res-cont .name {
      position: absolute;
      bottom: -2.667vw;
      left: 50%;
      -webkit-transform: translate(-50%);
              transform: translate(-50%);
      width: 49.2vw;
      height: 16.933vw;
      line-height: 16.933vw;
      text-align: center;
      background: url("../img/ai-test-res-namebg.png") no-repeat;
      background-size: 100%;
      font-size: 4vw;
      color: #fff;
      content: 'viewport-units-buggyfill; bottom: -2.667vw; width: 49.2vw; height: 16.933vw; line-height: 16.933vw; font-size: 4vw'; }
    .res-containner .res-cont .res-txt {
      position: absolute;
      left: 50%;
      -webkit-transform: translate(-50%);
              transform: translate(-50%);
      top: 83.333vw;
      width: 77.067vw;
      height: 30.667vw;
      background: url("../img/ai-test-res-txt-bg.png") no-repeat;
      background-size: 77.067vw 30.667vw;
      font-size: 5.6vw;
      color: #fff;
      padding: 2.667vw;
      word-wrap: break-word;
      content: 'viewport-units-buggyfill; top: 83.333vw; width: 77.067vw; height: 30.667vw; background-size: 77.067vw 30.667vw; font-size: 5.6vw; padding: 2.667vw'; }
  .res-containner .save-tip {
    position: absolute;
    right: 2vw;
    top: 146.133vw;
    font-size: 3.2vw;
    color: #fff;
    width: 3.2vw;
    content: 'viewport-units-buggyfill; right: 2vw; top: 146.133vw; font-size: 3.2vw; width: 3.2vw'; }
  .res-containner .qrcode {
    position: absolute;
    left: 2vw;
    bottom: 5.333vw;
    width: 22.933vw;
    content: 'viewport-units-buggyfill; left: 2vw; bottom: 5.333vw; width: 22.933vw'; }
    .res-containner .qrcode .qrcode-txt {
      font-size: 2.8vw;
      color: #fff;
      text-align: center;
      margin: 0;
      content: 'viewport-units-buggyfill; font-size: 2.8vw'; }
    .res-containner .qrcode .qrcode-img {
      width: 22.933vw;
      height: 22.667vw;
      content: 'viewport-units-buggyfill; width: 22.933vw; height: 22.667vw'; }

@-webkit-keyframes loading_move_down {
  0% {
    top: 0%; }
  25% {
    top: 25%; }
  50% {
    top: 50%; }
  75% {
    top: 75%; }
  100% {
    top: 90%; } }

@keyframes loading_move_down {
  0% {
    top: 0%; }
  25% {
    top: 25%; }
  50% {
    top: 50%; }
  75% {
    top: 75%; }
  100% {
    top: 90%; } }

@-webkit-keyframes test_move_down {
  0% {
    top: 4%; }
  25% {
    top: 15%; }
  50% {
    top: 30%; }
  75% {
    top: 50%; }
  100% {
    top: 70%; } }

@keyframes test_move_down {
  0% {
    top: 4%; }
  25% {
    top: 15%; }
  50% {
    top: 30%; }
  75% {
    top: 50%; }
  100% {
    top: 70%; } }

@-webkit-keyframes btnline_move_right {
  0% {
    left: 0%; }
  25% {
    left: 15%; }
  50% {
    left: 30%; }
  70% {
    left: 45%; }
  100% {
    left: 60%; } }

@keyframes btnline_move_right {
  0% {
    left: 0%; }
  25% {
    left: 15%; }
  50% {
    left: 30%; }
  70% {
    left: 45%; }
  100% {
    left: 60%; } }
