/*
* @Author: fozero@126.
* @Date:   2019-03-28 19:59:13
* @Last Modified by:   fozero
* @Last Modified time: 2019-03-29 14:55:48
*/
.demo{
	.pic{
		width: 374px;
			height: 450px;
			background: url('pic1.jpeg') no-repeat;
			background-size: 100%;
	}
	


}